.cards {
  box-sizing: border-box;
  display: grid;
  gap: 20px 17px;
  grid-template: repeat(2, 361px) / repeat(3, 282px);
  justify-content: center;
  max-width: 1280px;
  padding: 50px 200px 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template: repeat(6, 361px) / 282px;
  }
}
