.form__button {
  background: #000;
  border-radius: 2px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 14px 0;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}

.form__button:not(.form__button_disabled):hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px;
  }
}
