.profile__edit-button {
  background: url(../../../images/icons/edit/edit.svg) no-repeat center center;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  width: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
