.profile__info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    align-items: center;
    flex-direction: column;
    gap: 23px;
  }
}
