.popup__close-button {
  background: url(../../../images/icons/close/close.svg);
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -8px;
  top: -8px;
  transform: translate(100%, -100%);
  transition: opacity 0.2s ease-in-out;
  width: 32px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__close-button {
    height: 20px;
    right: 0;
    top: -16px;
    transform: translate(0, -100%);
    width: 20px;
  }
}
