.profile {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  max-width: 880px;
  padding: 40px 0 0;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 42px 19px 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 36px;
  }
}
