.card__like-button {
  background: url(../../../images/icons/like/like.svg) no-repeat center center /
    cover;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  width: 22px;
}

.card__like-button:hover {
  opacity: 0.5;
}
