.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
