.popup__heading {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 54px;
}

@media screen and (max-width: 1023px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
