.popup__form {
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .popup__form {
    max-width: 282px;
    padding: 25px 22px;
  }
}
