.popup__form {
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  position: relative;
}

.popup__form::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../../../images/icons/close/close.svg);
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  right: -8px;
  top: -8px;
  transform: translate(100%, -100%);
}

.popup__form:hover::after {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__form {
    max-width: 282px;
    padding: 25px 22px;
  }

  .popup__form::after {
    right: 0;
    top: -16px;
    transform: translate(0, -100%);
  }
}
