.profile__add-button {
  background: url(../../../images/icons/add/plus.svg) no-repeat center center;
  background-size: 22px 22px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  outline: none;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  width: 150px;
}

.profile__add-button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__add-button {
    background-size: 16px 16px;
    width: 282px;
  }
}
