.profile__name {
  display: flex;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    gap: 10px;
    position: relative;
    top: 0;
    left: 14px;
  }
}
