.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  line-height: 17px;
  margin-bottom: 30px;
  outline: none;
  padding: 0 0 13px;
}

.form__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .form__input {
    margin-bottom: 30px;
  }

  .form__input:last-of-type {
    margin-bottom: 45px;
  }
}
