.profile__description {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 500px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
  }
}
