.popup__container {
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  position: relative;
  width: 410px;
}

@media screen and (max-width: 1023px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
    width: 100%;
  }
}
