.profile__image-container {
  font-size: 0;
  position: relative;
}

.profile__image-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}

.profile__image-container:hover::after {
  background: rgba(0, 0, 0, .8) url(../../../images/icons/edit.svg) no-repeat center center;
}
