.form__error-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  margin-bottom: 5px;
  min-height: 30px;
  max-width: 358px;
}

.form__error-text:last-of-type {
  margin-bottom: 13px;
}
