<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mesto</title>

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="<%= require('./images/favicons/apple-touch-icon.png') %>"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="<%= require('./images/favicons/favicon-32x32.png') %>"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="<%= require('./images/favicons/favicon-16x16.png') %>"
  />
  <link
    rel="mask-icon"
    href="<%= require('./images/favicons/safari-pinned-tab.svg') %>"
    color="#5bbad5"
  />
  <link
    rel="shortcut icon"
    href="<%= require('./images/favicons/favicon.ico') %>"
  />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
</head>

<body class="page">
<header class="header">
  <img
    src="./images/logo/logo_light.svg"
    alt="Mesto."
    class="header__logo"
  />
</header>
<!-- /.header -->

<main class="content">
  <section class="profile">
    <div class="profile__info">
      <div class="profile__image-container">
        <img
          alt="Фото профиля."
          class="profile__image"
        />
      </div>
      <!-- /.profile__image-container -->
      <div class="profile__text">
        <div class="profile__name">
          <h1 class="profile__name-text"></h1>
          <button class="profile__edit-button" type="button"></button>
        </div>
        <!-- /.profile__name -->
        <p class="profile__description"></p>
      </div>
      <!-- /.profile__text -->
    </div>
    <!-- /.profile__info -->
    <button class="profile__add-button" type="button"></button>
  </section>
  <!-- /.profile -->

  <section class="cards" aria-label="Карточки.">
    <ul class="cards__list"></ul>
  </section>
  <!-- /.cards -->
</main>

<footer class="footer">
  <p class="footer__copyright">&copy; 2022 Mesto Russia</p>
</footer>
<!-- /.footer -->

<!-- POPUP: profile edit -->
<div class="popup popup_type_profile">
  <div class="popup__container">
    <h2 class="popup__heading">Редактировать профиль</h2>
    <form class="form" name="profile" novalidate>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Имя"
        class="form__input"
        required
        minlength="2"
        maxlength="40"
        pattern="^[a-zA-Zа-яА-ЯёË -]*$"
        data-error-message="Разрешено использовать только английские и русские буквы, а также пробел и дефис."
      />
      <span class="form__error-text name-error"></span>
      <input
        type="text"
        name="about"
        id="about"
        placeholder="О себе"
        class="form__input"
        required
        minlength="2"
        maxlength="200"
        pattern="^[a-zA-Zа-яА-ЯёË -]*$"
        data-error-message="Разрешено использовать только английские и русские буквы, а также пробел и дефис."
      />
      <span class="form__error-text about-error"></span>
      <button type="submit" class="form__button">Сохранить</button>
    </form>
    <button type="button" class="popup__close-button"></button>
  </div>
  <!-- /.popup__container -->
</div>
<!-- /.popup popup_type_profile -->

<!-- POPUP: add new card -->
<div class="popup popup_type_card">
  <div class="popup__container">
    <h2 class="popup__heading">Новое место</h2>
    <form class="form" name="card" novalidate>
      <input
        type="text"
        name="place-heading"
        id="place-heading"
        placeholder="Название"
        class="form__input"
        required
        minlength="2"
        maxlength="30"
        pattern="^[a-zA-Zа-яА-ЯёË -]*$"
        data-error-message="Разрешено использовать только английские и русские буквы, а также пробел и дефис."
      />
      <span class="form__error-text place-heading-error"></span>
      <input
        type="url"
        name="link"
        id="link"
        placeholder="Ссылка на картинку"
        class="form__input"
        required
      />
      <span class="form__error-text link-error"></span>
      <button type="submit" class="form__button">Создать</button>
    </form>
    <button type="button" class="popup__close-button"></button>
  </div>
  <!-- /.popup__container -->
</div>
<!-- /.popup popup_type_card -->

<!-- POPUP: card fullscreen -->
<div class="popup popup_type_image">
  <div class="popup__image-container">
    <img class="popup__image" />
    <h3 class="popup__image-heading"></h3>
    <button type="button" class="popup__close-button"></button>
  </div>
  <!-- /.popup__image-container -->
</div>
<!-- /.popup popup_type_image -->

<!-- POPUP: edit profile image -->
<div class="popup popup_type_avatar">
  <div class="popup__container">
    <h2 class="popup__heading">Обновить аватар</h2>
    <form class="form" name="avatar">
      <input
        type="url"
        name="avatar-link"
        id="avatar-link"
        placeholder="Ссылка на новый аватар"
        class="form__input"
        required
      >
      <span class="form__error-text avatar-link-error"></span>
      <button type="submit" class="form__button">Сохранить</button>
    </form>
    <button type="button" class="popup__close-button"></button>
  </div>
  <!-- /.popup__container -->
</div>
<!-- /.popup popup_type_avatar -->

<!-- POPUP: card delete -->
<div class="popup popup_type_delete-card">
  <div class="popup__container">
    <h2 class="popup__heading">Вы уверены?</h2>
    <form class="form">
      <button type="submit" class="form__button">Да</button>
    </form>
    <button type="button" class="popup__close-button"></button>
  </div>
  <!-- /.popup__container -->
</div>
<!-- /.popup popup_type_delete-card -->

<template id="card">
  <li class="card">
    <button class="card__delete-button" type="button"></button>
    <img
      class="card__image"
    />
    <div class="card__content">
      <h2 class="card__heading"></h2>
      <span class="card__likes-wrapper">
        <button class="card__like-button" type="button"></button>
        <span class="card__likes-count-text"></span>
      </span>
    </div>
    <!-- /.card__content -->
  </li>
</template>

</body>
</html>
