.header {
  box-sizing: border-box;
  font-size: 0;
  max-width: 880px;
  padding: 45px 0 0;
  width: 100%;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 0 0;
  }
}
