.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  line-height: 17px;
  margin-bottom: 5px;
  outline: none;
  padding: 0 0 13px;
}
